# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X fluff
*.dSYM
.DS_Store

# emacs backups
*~

# video files
*.mp4
*.mpeg
*.avi
*.flv
*.wmv

# qmake moc files
moc_*

# error file
error.txt

# project executable
leda

# led object files
*.led

# vi backups
*.swp