# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OS X fluff
*.dSYM
.DS_Store

# emacs backups
*~

# mp4 files
*.mp4